<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Update</th>
                </tr>
                <tr *ngFor="let item of carePackageInventory">
                    <td>{{item.name}}</td>
                    <td>
                        <input [(ngModel)]="item.type" type="text" name="type">
                    </td>
                    <td>
                        <input [(ngModel)]="item.description" type="text" name="description">
                    </td>
                    <td>
                        <input [(ngModel)]="item.items" type="text" name="items">
                    </td>
                    <td>
                        <input [(ngModel)]="item.quantity" type="number" name="quantity">
                    </td>
                    <td>
                        <form (ngSubmit)="update(item)">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="success" class="row">
        <div class="col-lg-12">
            <span [class.bg-success]="success" [class.bg-danger]="!success">{{statusmessage}}</span>
        </div>
    </div>
</div>