<title>Registration</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Create Account</h4>
			<p class="text-center">Get started with your free account</p>
			<form (ngSubmit)="addUser(f)" #f=ngForm>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input class="form-control" #name=ngModel ngModel name="name" required minlength="3" placeholder="Full name" type="text">
			</div>
			<div *ngIf='name.invalid && name.dirty'>
				<div *ngIf=name.errors.required style="color:red">
					Name Can Not be Blank!
				</div>
				<div *ngIf=name.errors.minlength style="color:red">
					Name is Incorrect!
				</div>
			</div>
			<!-- form-group -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
				 </div>
				<input class="form-control" #username=ngModel ngModel name="username" required minlength="3" placeholder="Username" type="text">
			</div> 
			<div *ngIf='username.invalid && username.dirty'>
				<div *ngIf=username.errors.required style="color:red">
					Username Can Not be Blank!
				</div>
				<div *ngIf=username.errors.minlength style="color:red">
					Username is Incorrect!
				</div>
			</div>
			<!-- form-group -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
				 </div>
				<input class="form-control" #email=ngModel ngModel name="email" required email placeholder="Email address" type="email">
			</div>
			<div *ngIf='email.invalid && email.dirty'>
				<div *ngIf=email.errors.required style="color:red">
					Email Can Not be Blank!
				</div>
				<div *ngIf=email.errors.email style="color:red">
					Email is Incorrect!
				</div>
			</div>
			<!-- form-group -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				 </div>
				<input class="form-control" #phone=ngModel ngModel name="phone" required placeholder="Phone Number" type="number" pattern="^\d{10}$">
			</div>  
			<div *ngIf='phone.errors.required  && phone.dirty' style="color:red">
				Phone Number Can Not be Blank!
			</div>
			<div *ngIf="phone.errors?.pattern && phone.dirty" style="color: red">
				Phone Number is not valid.
			 </div>
			<!-- form-group -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
				 </div>
				<input class="form-control" #address=ngModel ngModel name="address" required placeholder="Address" type="text">
			</div>  
			<div *ngIf='!address.valid && address.dirty' style="color:red">
				Address Can Not be Blank!
			</div>  
			<!-- form-group -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-users"></i> </span>
				</div>
				<select class="form-control" #usertype=ngModel ngModel name="usertype" required>
					<option selected=""> Select user type</option>
					<option value="admin">Volunteer</option>
					<option value="subscriber">Subscriber</option>
				</select>
			</div> 
			<div *ngIf='!usertype.valid && usertype.dirty' style="color:red">
				Please Select a User!
			</div>
			<!-- form-group end -->
			<br><div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" #password=ngModel ngModel name="password" required placeholder="Create password" type="password">
			</div> 
			<div *ngIf='!password.valid && password.dirty' style="color:red">
				Password Can Not be Blank!
			</div> 
			<!-- form-group -->                                  
			<br><div class="form-group">
				<button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block"> Create Account  </button>
			</div> <!-- form-group -->      
			<p class="text-center">Have an account? <a href="\login">Log In</a> </p>                                                                 
		</form>
		</article>
		</div> <!-- card. -->
		
	</div> 
		<!--container end.-->