<div class="container">
  <div class="jumbotron"> <h4>Welcome {{ user.userName }}</h4>
    <p class="lead">The time is {{date | date:'shortTime'}}</p>
  </div>
</div>

<div class="container-fluid">
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <div class="card"><div class="card-body">
      <h6 class="card-title">User Options</h6>
      <hr>
      <button class="btn btn-lg btn-dark" routerLink="/updateprofile">Update Profile</button> <br> <br>
      <button class="btn btn-lg btn-dark" routerLink="/order">Place Request</button> <br>

    </div>
    </div>
  </div>

  <div class="col-md-6" *ngIf="user.userType === 'admin'">
    <div class="card text-center">
      <div class="card-body">
      <h6 class="card-title">Admin Options</h6>
      <hr>
        <button class="btn btn-lg btn-dark" routerLink="/addfood">Add Food</button> <br> <br>
        <button class="btn btn-lg btn-dark" routerLink="/addcarepackage">Add Care Package</button><br> <br>
        <button class="btn btn-lg btn-dark" routerLink="/fulfillorder">Fill Orders</button><br> <br>
        <button class="btn btn-lg btn-dark" routerLink="/fulfillorder">View Inventory</button>

    </div>
    </div>
  </div>
</div>
</div>
