<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class ="card bg-light" *ngFor="let food of foodSubscriptions" >
    <h2 class="card-title"> {{food.name}}  </h2>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          {{food.description}} <br>
          {{food.type}} <br>
        </div>

        <div class="col-md-6">
          <img src='{{food.imageurl}}' height="75%" width="50%" alt="image of {{food.name}}"> <br> <br>
          Quantity: <input type="number"  value="0" min="0" max="{{food.quantity}}">
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
