<div class="container" style="margin-top: 1%;">
  <div class="jumbotron">
    <h3 class="display-4">Welcome to Food Registry Inc!</h3>
    <p class="lead">Our mission is to help alleviate hunger in the community.</p>
    <hr>
    <p>We want to aid as many people as possible in getting the quality food and supplies that they deserve. With that in mind
      we are always looking for new volunteers! If you are in need of our assistance please register to our site below and begin requesting our assistance!</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-header">Sign in</div>
        <div class="card-body text-center">
          <button class="btn btn-dark" routerLink="registration">Register</button> or
          <button class="btn btn-dark" routerLink="login">Sign In!</button>
        </div>
      </div>
    </div>
  </div>
</div>
